<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>
    <arg name="ignore" value="./tests/*.blade.php,./packages/kickflip-cli/bin/kickflip.php,./packages/kickflip/config/*.php" />

    <file>./packages/kickflip-cli</file>
    <file>./packages/kickflip-router-nav-plugin</file>
    <file>./tests</file>

    <rule ref="Ramsey"/>

    <rule ref="Generic.Files.LineLength.TooLong">
        <exclude-pattern>packages/kickflip-cli/app/Models/SiteData.php</exclude-pattern>
    </rule>
    <rule ref="Generic.NamingConventions.UpperCaseConstantName.ClassConstantNotUpperCase">
        <exclude-pattern>packages/kickflip-cli/app/Enums/CliStateDirPaths.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.MissingVariable">
        <exclude-pattern>packages/kickflip-cli/app/KickflipKernel.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix">
        <exclude-pattern>packages/kickflip-cli/app/Models/*Interface.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-router-nav-plugin/src/Models/NavItemInterface.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint">
        <exclude-pattern>packages/kickflip-router-nav-plugin/src/*ServiceProvider.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/Commands/BuildCommand.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint">
        <exclude-pattern>packages/kickflip-cli/app/KickflipKernel.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/Providers/*.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/View/Compilers/BladeCompiler.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/View/Engine/*Engine.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint">
        <exclude-pattern>packages/kickflip-cli/app/KickflipKernel.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification">
        <exclude-pattern>packages/kickflip-cli/app/View/Compilers/*.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/View/Engine/*.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification">
        <exclude-pattern>packages/kickflip-cli/app/Providers/*.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/View/Compilers/*.php</exclude-pattern>
        <exclude-pattern>packages/kickflip-cli/app/View/Engine/*.php</exclude-pattern>
    </rule>
</ruleset>
