<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>
    <arg name="ignore" value="./tests/*.blade.php" />

    <file>./packages/kickflip-cli</file>
    <file>./packages/kickflip-router-nav-plugin</file>
    <file>./tests</file>

    <rule ref="Ramsey"/>

    <rule ref="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix">
        <exclude-pattern>packages/kickflip-router-nav-plugin/src/Models/NavItemInterface.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint">
        <exclude-pattern>packages/kickflip-router-nav-plugin/src/*ServiceProvider.php</exclude-pattern>
    </rule>
</ruleset>
