parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Stringable\\:\\:findVerbosity\\(\\)\\.$#"
			paths:
			  - packages/*/*.php
			  - tests/*/*.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Stringable\\:\\:replaceEnv\\(\\)\\.$#"
			paths:
			  - packages/*/*.php
			  - tests/*/*.php

		-
			message: "#^Static method Kickflip\\\\Collection\\\\(Inverse)?SortOption\\:\\:custom\\(\\) invoked with 1 parameter, 0 required.$#"
			paths:
			  - tests/*/*.php